datasets

*__pycache__

*cache_*.png
*raytracing_step*.png
*my_awesome*.txt

dist


img_phy_sim.egg-info/*
example/my_awesome_ray_iterator.pkl
example/ism_iterative_example.png
example/iterative_example.png
